<footer>
    <h1><a href="/">THE DESIGN SHOP</a></h1>
</footer>
<script>
    const edit = document.getElementById("edit")
    edit.classList.add('hide')
    document.getElementById("editbtn").addEventListener('click',()=>{
        edit.classList.toggle('hide')
    })
</script>
</body>
</html>
